mixin columna(img,h4,p1,p2,p3,p4)
	img.img-responsive(src=img)
	h4 
		strong=h4
	p=p1
	p=p2
	p=p3
	p=p4
mixin edicion(img,h5,a)
	img.img.responsive(src=img)
	h5
		strong=h5
	a(href="#")=a
mixin list
	ul.pd-left
		li 
			a.color-n(href="#") One Direction
		li 
			a.color-n(href="#") ONPE
		li 
			a.color-n(href="#") Pablo Escobar
		li 
			a.color-n(href="#") Paolo Guerrero
		li 
			a.color-n(href="#") Pension 65
		li 
			a.color-n(href="#") PNP
		li 
			a.color-n(href="#") Precio del dòlar
		li 
			a.color-n(href="#") Universidad Cesar Vallejo
		li 
			a.color-n(href="#") Universidad San Martin
		li 
			a.color-n(href="#") Premier League
		li 
			a.color-n(href="#") Bayern Munich
		li 
			a.color-n(href="#") Bayern Munich
		li 
			a.color-n(href="#") BBVA
		li 
			a.color-n(href="#") Xbox
		li 
			a.color-n(href="#") BCP
		li 
			a.color-n(href="#") Proyecto Conga
		li 
			a.color-n(href="#") PUCP
		li 
			a.color-n(href="#") Real Madrid
		li 
			a.color-n(href="#") Redes Sociales
		li 
			a.color-n(href="#") Reniec
		li 
			a.color-n(href="#") Robert Pattinson

