mixin noticias(titulo,imgn,text,resena)
	h6=titulo
	.contenedor_noticias
		img(src=imgn)
		h6=text
	p=resena
mixin foto_columnista(img,text,texts)
	.contenedor_columnistas
		img(src=img)
		p=text
		h6=texts
mixin foto_colum
	+foto_columnista('../image/img-columnistas.jpg','Mario Vargas LLosa','Megarrenuncia apulpinante')
	+foto_columnista('../image/img_blogueros.jpg','Agusto Alvarez Rodrich','Megarrenuncia apulpinante')

mixin ultimas_n(fecha,titulo,img,lead,redesp,punto1,comentario,punto2,clase,punto3,simbolo)
	.row
		p=fecha
		h6=titulo
		.col-md-4
			img(src=img)
		.col-md-8
			p=lead
			ul.list-inline.list-unstyled
				li
					img(src=redesp)
				li
					img(src=punto1)
				li
					img(src=comentario)
				li
					img(src=punto2)
				li
					p=clase
				li
					img(src=punto3)
				li
					img(src=simbolo)

mixin ultimas
	+ultimas_n('21 de mayo','21 de mayo','../image/img-columnistas.jpg','Mario Vargas LLosa','../image/bullet.gif','../image/bullet.gif','../image/bullet.gif','../image/bullet.gif','espectaculos','../image/bullet.gif','../image/bullet.gif')
	+ultimas_n('21 de mayo','21 de mayo','../image/img-columnistas.jpg','Mario Vargas LLosa','../image/bullet.gif','../image/bullet.gif','../image/bullet.gif','../image/bullet.gif','espectaculos','')
	+ultimas_n('21 de mayo','21 de mayo','../image/img-columnistas.jpg','Mario Vargas LLosa','../image/bullet.gif','../image/bullet.gif','../image/bullet.gif','../image/bullet.gif','espectaculos','../image/bullet.gif','')
mixin aweita(foto,descripcion)
	.row
		.col-md-5
			img(src=foto)
		.col-md-7
			p=descripcion
mixin clases
	+aweita('../image/img-columnistas.jpg','dsd dfs  fgf fb fb dsd dfs  fgf fb fb sdfs dsd dfs  fgf fb fb sdfssdfs')
	+aweita('../image/img-columnistas.jpg','dsd dfs  fgf fb fb dsd dfs  fgf fb fb sdfs dsd dfs  fgf fb fb sdfssdfs')
	+aweita('../image/img-columnistas.jpg','dsd dfs  fgf fb fb dsd dfs  fgf fb fb sdfs dsd dfs  fgf fb fb sdfssdfs')
mixin fotos(foto,titulo)
	.row
		img(src=foto)
		div
			p=titulo
mixin blogueros(titu,tex)
	.row
		.col-md-3
			img(src='../image/img_blogueros.jpg')
		.col-md-9
			a
				p=titu
			h6=tex		
mixin bloguer
	+blogueros('Augusto Alvarez','Charly Hebdo historia que no debe repetirse')
	+blogueros('Augusto Alvarez','El unico  pulpin es Humala')
	+blogueros('Augusto Alvarez','Charly Hebdo historia que no debe repetirse')
	+blogueros('Augusto Alvarez','El unico  pulpin es Humala')
mixin periodicos(periodico,descrip,zona)
	.col-md-6
		img(src=periodico)
	.col-md-6
		h6=descrip
		a
			p=zona